target/
Cargo.lock
node_modules/
*.log
.DS_Store
extension.wasm
grammars/
/src/lib-embedded.rs
src/lib.rs.backup
language-server/bundle.js
language-server/node_modules/
package-lock.json
build-embedded.bat
build-embedded.sh
/bundle.js
/extension.wasm
/language-server/webpack.config.js